@keyframes Disc-Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body>div.Music-Confirm { text-align: center; width: 10rem; height: 21rem; overflow: hidden; position: absolute; top: 50vh; left: 50vw; z-index: 1; transform: translateX(-50%) translateY(-50%); opacity: 0; transition: all 1s linear; }
body>div.Music-Confirm.Shown { opacity: 1; }
body>div.Music-Confirm.Minimized { transition: all 1s ease-in-out  .3s; width: 2rem; height: 2rem; left: 1rem; top: 1rem; transform: translateX(0) translateY(0); }
body>div.Music-Confirm div.Slash { height: 2rem; width: 2rem; margin: 0 auto; }
body>div.Music-Confirm div.Slash { background: url('Slash.svg') no-repeat; background-position: 0 0; background-size: 0 0; }
body>div.Music-Confirm.Minimized div.Slash { transition: all .2s ease-in-out; }
body>div.Music-Confirm.Playing div.Slash { background-size: 0 0; }
body>div.Music-Confirm.Paused div.Slash { background-size: 100% 100%; }
body>div.Music-Confirm div.Disc { height: 10rem; width: 10rem; margin: 0 auto; margin-top: -2rem; }
body>div.Music-Confirm div.Disc { background: url('Disc.svg') no-repeat; background-position: 0 0; background-size: 100% 100%; }
body>div.Music-Confirm.Minimized div.Disc { transition: all 1s ease-in-out .3s; width: 2rem; height: 2rem; }
body>div.Music-Confirm.Playing div.Disc { animation: Disc-Rotate 10s linear infinite; }
body>div.Music-Confirm.Paused div.Disc { animation-play-state: paused; }
body>div.Music-Confirm div.Title { line-height: 1rem; width: 10rem; height: 1rem; margin: 1rem auto; font-size: 1rem; transition: opacity .2s ease-in-out; }
body>div.Music-Confirm.Minimized div.Title { opacity: 0; }
body>div.Music-Confirm div.Button { line-height: 2rem; height: 2rem; width: 10rem; margin: 0.5rem auto; border-radius: 6px; font-size: 0.8rem; user-select: none; }
body>div.Music-Confirm.Minimized div.Button { transition: opacity .2s ease-in-out; opacity: 0; }
body>div.Music-Confirm div.Button.Play { background: #70ADD3; color: #ffffff; cursor: default; }
body>div.Music-Confirm div.Button.Play:hover,
body>div.Music-Confirm div.Button.Play:active { background: #4A9ED3; }
body>div.Music-Confirm div.Button.Mute { background: #D37070; color: #ffffff; cursor: default; }
body>div.Music-Confirm div.Button.Mute:hover,
body>div.Music-Confirm div.Button.Mute:active { background: #D34A4A; }
body>div.Music-Confirm div.Button.Skip { background: #666666; color: #ffffff; cursor: default; }
body>div.Music-Confirm div.Button.Skip:hover,
body>div.Music-Confirm div.Button.Skip:active { background: #696969; }